.header {
  padding: 10px 10px;
  width: 100%;
  display: flex;
  //justify-content: flex-start;
  //align-items: center;
  background-color: #035847;

  .btn {
      margin-left: 800px ;
    &.dark {
      background-color: gray;
      display: flex;
      flex-wrap: wrap;


    }
  }

  &-logo {
    height: 60px;
    margin-right: 20px;
  }

  &-links-wrapper {
    display: flex;

    &-link {
      text-decoration: none;
      color: white;
    }
  }
}
